<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head.ejs') %>
</head>

<body>
  <h1> Something went wrong</h1>
  <p>Unfortunately, something went wrong - please try again later.</p>
  <p><a class="btn" href="/facebook">Back to safety!</a></p>
</body>

</html>