<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <h1> Not authenticated </h1>
    <p> You are not authenticated!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
</body>

</html>