<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <% if(!locals.isAuth) { %>
        <%- include('includes/login-facebook.ejs') %>
            <% } %>

                <% if (locals.isAuth) { %>
                    <%- include('includes/main-facebook.ejs') %>
                        <% } %>

</body>

</html>