<div class="section-left" data-name="<%=user.firstName%> <%=user.lastName%>">
    <% for (const leftData of leftSection) { %>
        <div class="section-left-container">
            <img src="styles/main-facebook/<%=leftData.image%>">
            <p>
                <%=leftData.name%>
            </p>
        </div>
        <%}%>
            <hr>
            <div class="shortcuts-edit">
                <p> Your shortcuts</p>
                <p> Edit</p>
            </div>

            <div class="section-left-container">
                <img src="styles/main-facebook/images/braveplays.jpg">
                <p class="sidebar-left-p"> Brave Plays</p>
            </div>


</div>