<div class="main-div-first-layer">
    <div class="main-div-first-layer-profile">
        <img src="<%=locals.curUser.imagePath%>">
        <p> What's on your mind, <%= locals.curUser.firstName %>
        </p>
    </div>
    <hr>
    <div class="main-div-first-layer-video">
        <div class="main-div-live">
            <img src="styles/main-facebook/images/live.png">
            <p> Live Video </p>
        </div>
        <div class="main-div-live">
            <img src="styles/main-facebook/images/picture.png">
            <p> Photo/Video </p>
        </div>
        <div class="main-div-live">
            <img src="styles/main-facebook/images/smile.png">
            <p> Feeling/Activity</p>
        </div>
    </div>
</div>