<div class="main-div-second-layer">
    <div class="main-div-second-layer-profile">
        <div class="main-div-second-layer-profile-a">
            <img src="/styles/main-facebook/images/Aamon.jpg">
            <div class="main-div-second-layer-profile-b">
                <p class="name-josh">
                    <%=postDetail.name%>
                </p>
                <div class="main-div-second-layer-profile-c">
                    <p class="hours">
                        <%=postDetail.date%>
                    </p>
                    <img src="/styles/main-facebook/images/friendss.png">
                </div>
            </div>
        </div>
        <div class="main-div-second-layer-profile-dot-image">
            <img src="/styles/main-facebook/images/3-dot.png">
            <img src="styles/main-facebook/images/close.png">
        </div>
    </div>
    <p>
        <%=postDetail.content%>
    </p>
    <img src=" <%=postDetail.imagePath%>" id="post-image">
    <div class="main-div-second-layer-container">
        <div class="main-div-second-layer-heart-like">
            <img src="/styles/main-facebook/images/heart.png">
            <img src="/styles/main-facebook/images/like.png">
            <p> 322</p>
        </div>
        <div class="main-div-second-layer-comment-share">
            <p>322 comments</p>
            <p>323 shares</p>
        </div>
    </div>
    <hr>
    <div class="like-comment-share-main-container">
        <div class="like-comment-share-container">
            <div class="like-comment-share">
                <img src="/styles/main-facebook/images/like1.png">
                <p> Like</p>
            </div>
            <div class="like-comment-share">
                <img src="/styles/main-facebook/images/bubble-chat.png">
                <p> Comment</p>
            </div>
            <div class="like-comment-share">
                <img src="/styles/main-facebook/images/share2.png">
                <p> Share</p>
            </div>
        </div>
        <div class="like-comment-profile-container">
            <img src="/styles/main-facebook/images/Aamon.jpg">
            <img src="/styles/main-facebook/images/down.png">
        </div>
    </div>
</div>