<div class="section-right">
    <p>Sponsored </p>
    <div class="section-right-container">
        <img src="styles/main-facebook/images/shopee.jpg">
        <p>Shopee</p>
    </div>
    <div class="section-right-container">
        <img src="styles/main-facebook/images/shopee.jpg">
        <p>Shopee</p>
    </div>
    <hr>
    <div class="your-pages-and-profiles">
        <p>Your Pages and Profiles</p>
        <img src="styles/main-facebook/images/3-dot.png">
    </div>
    <div class="brave-plays-container">
        <img src="styles/main-facebook/images/braveplays.jpg">
        <p>BRAVE Plays</p>
    </div>
    <div class="switch-container">
        <img src="styles/main-facebook/images/switch.png">
        <p>Switch into page</p>
    </div>
    <div class="switch-container">
        <img src="styles/main-facebook/images/megaphone2.png">
        <p>Create Promotion</p>
    </div>
    <hr>
    <p> Birthdays</p>
    <div class="birthday-container">
        <img src="styles/main-facebook/images/gift.png">
        <p> <strong> Yu Zhong and 2 others</strong> have birthdays
            today </p>
    </div>
    <hr>
    <div class="contacts-container">
        <p>Contacts</p>
        <div class="contacts-contain">
            <img src="styles/main-facebook/images/search.png" class="contact-search">
            <img src="styles/main-facebook/images/3-dot.png" class="contact-three">
        </div>
    </div>
    <div class="contact-name-container">
        <img src="styles/main-facebook/images/megaphone2.png">
        <p>Create Promotion</p>
    </div>
    <div class="contact-name-container">
        <img src="styles/main-facebook/images/megaphone2.png">
        <p>Create Promotion</p>
    </div>
    <div class="contact-name-container">
        <img src="styles/main-facebook/images/megaphone2.png">
        <p>Create Promotion</p>
    </div>
    <div class="contact-name-container">
        <img src="styles/main-facebook/images/megaphone2.png">
        <p>Create Promotion</p>
    </div>
</div>