<div class="story">
    <button class="btn-left">
        < </button>
            <button class="btn-right">
                > </button>
            <ul>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg">
                    <p>+</p>
                    <p>Create Story </p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
                <li>
                    <img src="styles/main-facebook/images/Aamon.jpg" class="profile-story">
                    <img src="styles/main-facebook/images/Aamon.jpg" class="">
                    <p>Joshua Teoxon</p>
                </li>
            </ul>
</div>