<dialog class="modal" id="modal-success" close>
  <div class="success">
    <img src="/images/check.png" />
    <h3> Thank you !</h3>
    <p>
      <%= success %>
    </p>
    <button class="btn design" id="close-modal-success"> OK </button>
  </div>
</dialog>